<div class="container">
  <h1 class="title">
    <span>
        <fa-icon [icon]="faPen"></fa-icon>
    </span>
    NgRx Task List</h1>

  <!-- Add Task -->
  <div class="task-input">
    <input
      type="text"
      placeholder="Enter a task..."
      [(ngModel)]="newTaskDescription"
      (keyup.enter)="addTask()"
    />
    <button (click)="addTask()">
        <fa-icon [icon]="faAdd"></fa-icon>
    </button>
  </div>

  <!-- Task Summary -->
  <p class="summary">
    Incomplete Tasks: {{ incompleteTasks$ | async }}
  </p>

  <!-- Task List -->
  <ul class="task-list">
    @for (task of (allTasks$ | async); track $index) {
    <li  class="task-item">
      
      <label>
        <input
          type="checkbox"
          [checked]="task.completed"
          (change)="toggleCompletion(task.id)"
        />
        <span [class.completed]="task.completed">
          {{ task.description }}
        </span>
      </label>

      <button class="delete-btn" (click)="removeTask(task.id)">
<fa-icon [icon]="faDelete"></fa-icon>
      </button>
    </li>
}
  </ul>
</div>